.flag {
    border-radius: .2rem;
    color: white;
    display: none;
    font-size: 13px;
    margin-left: .5rem;
    padding: .1rem .3rem;
    vertical-align: text-bottom;
}
.flag.show {
    display: inline-block;
}
.flag.flag-discount {
    background-color: #ed143d;
}
.flag.flag-stock {
    background-color: #28a745;
    margin-left: 0;
}
.col-image img {
    display: block;
    margin: 0 auto;
    max-height: 250px;
}
p {
    margin-bottom: .2rem;
    font-weight: 300;
}
p strong {
    font-weight: 700;
}

.product-name {
    font-size: 1.7rem;
}

.price {
    margin-bottom: 1rem;
}
.price .price-num {
    font-size: 27px;
    vertical-align: baseline;
}

/* from Tablet */
@media (min-width: 768px) {
    .col-image img {
        max-height: 300px;
    }
    .product-name {
        font-size: 2.5rem;
    }
}